<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @typeofvehicle.description %>
</p>

<%= link_to 'Edit', edit_typeofvehicle_path(@typeofvehicle) %> |
<%= link_to 'Back', typeofvehicles_path %>
