<h1>Realice su reserva On-Line</h1></h1>
<p>Nuestros ejecutivos los atenderán </p>

<div><p align="justify"><h5>Si usted está buscando un excelente servicio, somos su mejor alternativa, somos una empresa de taxis de confianza. Tenemos muchas opiniones positivas de nuestros clientes.
Nuestro servicio de taxi seguro está disponible las 24 horas del día, los 7 días de la semana y los 365 días del año, de modo que si Usted necesita los servicios a las últimas horas de la noche, nosotros estaremos ahí.</h5></p></div>

<table>
	<thead>
	<tr>
		<th>Razon Social</th>
		<th>RUC</th>
		<th>Local</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>TaxiXpress</td>
		<td>20432134567</td>
		<td>AV. FREID LEY 1345 - LINCE </td>
	</tr>
	<tr>
		<td>TaxiXpress</td>
		<td>20536580167</td>
		<td>AV. JAVIER PRADO 453 - SAN ISIDRO</td>
	</tr>
	</tbody>
</table>


<div><p align="justify" ><h5> Nuestro servicio le ayudará a evitar el tráfico y la congestión en Lima. Ya sabe que el tráfico y la congestión vehicular pueden ser una pesadilla. Por lo tanto, es mejor contratar a una empresa que lo lleve comodamente y conozca las rutas alternas. Además, tenemos conductores de experiencia que conocen muy bien las calles de la ciudad. No tendrá que que preocuparse por encontrar plazas de aparcamiento y realizar dichos pagos. Si tienes equipaje nuestros taxis pueden serle de mucha ayuda. Le ayudaremos a llegar a su destino sin ningún problema.
</h5></p></div>


 <table>
  <tr>
    <td><center><%= image_tag('unnamed.png') %></center></td>
    <td><center><%= image_tag('imagen2.png') %></center></td>
   
    
  </tr>
</table>
